<h1>Modal Test Page</h1>
<button id="openmodal" type="button" class="btn pr-2">Open Modal</button>
<!--<button id="magentologin" type="button" class="btn-block">Open Magento Login Modal</button>-->

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ $( "#openmodal" ).click(function() {
        alert("Hello World!");
    }); });

</script>

<button type="button" class="action" data-trigger="trigger">
    <span data-bind="i18n: 'Login Magento Modal'"></span>
</button>
<div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': 'Login Modal',
            'trigger': '[data-trigger=trigger]',
            'responsive': true,
            'buttons': [{
                text: jQuery.mage.__('Login'),
                class: 'action'
            }]
        }}">
    <div class="content">
        <input id="username" type="text" placeholder="UserName">
        <input id="pass" type="password" placeholder="Password">
    </div>
</div>
<button id="customlogin" type="button" class="btn">Open Custom Login Modal</button>
