<?php
$qdata = $block->getQueryData();
?>

<div class="container">
    <h2>Chapter 4+5 : Exercies</h2>
    <h3>Magenest Movie</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên Phim</th>
            <th>Giới thiệu</th>
            <th>Rating</th>
            <th>Diễn viên</th>
            <th>NSX</th>
        </tr>
        </thead>
        <tbody>

        <?php foreach ($qdata as $row):?>

            <tr>
                <td><?php echo $row['movie_id'];?></td>
                <td><?php echo $row['name'];?></td>
                <td><?php echo $row['description'];?></td>
                <td><?php echo $row['rating'];?></td>
                <td><?php if ($row['aname'] == null)
                    {
                        echo "Empty";
                    }
                    else {
                        echo $row['aname'];
                    }?>
                </td>
                <td><?php echo $row['dname'];?></td>
            </tr>

        <?php endforeach;?>
        </tbody>
    </table>

</div>

