<div class="col-m-5">
    <table class="admin__table-secondary">

        <tr>
            <th>Numbers of All Module</th>
            <td><?php $modules = $block->getAllModule();
                //    print_r($moduleVendor)
                echo count($modules);
                ?>
            </td>
        </tr>
        <tr>
            <th>Numbers of Vendor's Module</th>
            <td>
                <?php $vendorModule = $block->getVendorModule();
                echo count($vendorModule);
                ?>
            </td>
        </tr>
    </table>
</div>
<div class="col-m-1"></div>
<div class="col-m-5">
    <table class="admin__table-secondary">
        <tr>
            <th>Numbers of Customer</th>
            <td><?php $litCustomer = $block->getCustomerCollection();
                echo count($litCustomer);
                ?>
            </td>
        </tr>
        <tr>
            <th>Numbers of Product</th>
            <td>
                <?php $product = $block->getProductCollection();
                echo count($product);
                ?>
            </td>
        </tr>
        <tr>
            <th>Numbers of Order</th>
            <td>
                <?php $order = $block->getOrderCollection();
                echo count($order);
                ?>
            </td>
        </tr>
        <tr>
            <th>Numbers of Invoice</th>
            <td>
                <?php $invoice = $block->getInvoiceCollection();
                echo count($invoice);
                ?>
            </td>
        </tr>
        <tr>
            <th>Numbers of Creditmemo</th>
            <td>
                <?php $creditmemo = $block->getCreditmemoCollection();
                echo count($creditmemo);
                ?>
            </td>
        </tr>
    </table>
</div>
